.markdown-body {
    pre,
    .highlight pre {
        background-color: darken(#f6f8fa, 3);
    }
}

.dashicons {
    color: rgba(config('colors', 'base', 'wp'), .8);
}

.meeting-minutes-single-meta {
    &-location,
    &-date,
    &-time {
        display: block;
    }

    &-authors {
        &-single {
            align-items: center;
            display: flex;
            margin-bottom: config('spacing', 'small');

            &-image {
                border-radius: 3px;
                height: config('spacing', 'default');
                width: config('spacing', 'default');
            }

            &-url {
                font-weight: bold;
                padding-left: config('spacing', 'tiny');
                text-decoration: none;
            }

            &-name {
                color: config('colors', 'base', 'grey');
                padding-left: config('spacing', 'tiny');
            }
        }
    }
}
