*.log
*.psd

# dep folders
node_modules/
/vendor/

# local config
/config/
wp-cli.local.yml
ssh_config
php-server.ini

!/config/env/default.json

# wordpress deps
/web/wp/
/web/plugins/autodescription/
/web/plugins/disable-wordpress-updates/
/web/plugins/no-self-ping/
/web/plugins/redirection/
/web/plugins/redis-cache/
/web/plugins/ghcp/
/web/plugins/sqlite-integration/
/web/plugins/disable-emojis/

# dev plugins
/web/plugins/query-monitor/
/web/plugins/rewrite-rules-inspector/

# dev database
/database/*
!/database/wp.sqlite

# symlinks
/web/assets/db.php
/web/uploads

# ignore translations
/web/languages/
/web/assets/languages/

# ignore compiled assets
/web/assets/js/
/web/assets/css/
/web/assets/img/

# ignore compile tmp folder
/assets/tmp

# overrides
!.gitkeep
