body {
    display: flex;
    //flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.header,
.nav,
.footer {
    flex: 0 0 100%;
}

.main {
    flex: 3 0 100%;
    padding-top: 4vh;
    min-height: 200vh;

    &-inner {
        @include row();
    }
}
