@mixin row($max-width: config('layout', 'row', 'width')) {
    margin: {
        left: auto;
        right: auto;
    }
    width: 100%;
    max-width: $max-width;
    padding: {
        top: map-get-deep($spacing, 'v', 'default');
        right: map-get-deep($spacing, 'h', 'default');
        bottom: map-get-deep($spacing, 'v', 'default');
        left: map-get-deep($spacing, 'h', 'default');
    }

    @include media(map-get-deep($layout, 'row', 'width') + 2* map-get-deep($spacing, 'h', 'default')) {
        padding: {
            right: 0;
            left: 0;
        }
    }
}
