.footer {
    background-color: config('colors', 'base', 'wp');

    &-inner {
        @include row;
        @include media(config('media', 'breakpoints', 'nav', 'footer')) {
            display: flex;
            justify-content: space-between;
        }

        @include media(config('media', 'breakpoints', 'nav', 'full')) {
            justify-content: flex-start;
        }
    }

    .menu {
        list-style-type: none;
        padding: {
            left: 0;
            right: config('spacing', 'default');
        }

        @include media(config('media', 'breakpoints', 'nav', 'footer')) {
            flex: 0 1 50%;
        }

        @include media(config('media', 'breakpoints', 'nav', 'full')) {
            flex-basis: auto;
        }

        &-item {
            @include media(config('media', 'breakpoints', 'nav', 'full')) {
                display: inline-block;
                padding-right: config('spacing', 'default');

                &:last-child {
                    padding-right: 0;
                }
            }

            a {
                color: config('colors', 'typo', 'inverted');

                &:hover {
                    color: config('colors', 'toned', 'yellow');
                }
            }
        }
    }
}
