.header {
    align-items: center;
    background-color: map-get-deep($colors, 'base', 'black');
    display: flex;
    flex-flow: column wrap;
    min-height: calc(170px + 20px + 4vw);

    .js & {
        margin-bottom: calc(4vw + 30px);
        min-height: unset;
        padding-top: 170px;

        @include media((100 / 4) * config('typo', 'intro', 'size')) {
            margin-bottom: 66px;
        }
    }

    &.is-nav-expanded {
        @include media(0, config('media', 'breakpoints', 'nav', 'inline')) {
            padding-top: 320px;
            transition-duration: .3s;
            min-height: calc(350px + 4vw)!important;
            margin-bottom: 0;

            .header {
                &-logo {
                    background-color: config('colors', 'base', 'black');
                    transform: translateY(145px);
                    transition: {
                        property: transform;
                        duration: .3s;
                    }
                    width: 100%;
                }
            }
        }
    }

    &-logo {
        text-align: center;

        svg {
            width: 150px;
        }

        .js & {
            position: fixed;
            top: config('spacing', 'default');
            z-index: 2;

            @include media(config('media', 'breakpoints', 'nav', 'inline')) {
                //top: 0;
            }
        }
    }

    &-intro {
        background-color: config('colors', 'base', 'black');
        color: map-get-deep($colors, 'typo', 'inverted');
        padding: {
            top: config('spacing', 'small');
            bottom: config('spacing', 'default');
        }
        line-height: 1;
        font: {
            size: 4vw;
            family: config('typo', 'intro', 'family');
        }
        text-align: center;
        width: 100%;

        .js & {
            position: fixed;
            &:hover {
                cursor: pointer;
            }
        }

        @include media(config('media', 'breakpoints', 'nav', 'inline')) {
            padding-top: config('spacing', 'small');
        }

        @include media((100 / 4) * config('typo', 'intro', 'size')) {
            font-size: config('typo', 'intro', 'size');
        }

        &-highlight {
            color: config('colors', 'toned', 'yellow');
            transition-duration: .3s;
        }
    }
}

.js {

    // Header-related content styles.
    .markdown-body {

        // Additional padding for hash tag links (anchors).
        h2, h3, h4, h5, h6 {
            &:before {
                display: block;
                content: "";
                margin-top: -245px;
                height: 245px;
                visibility: hidden;
                pointer-events: none;
            }
        }
    }
}
