@include media(config('media', 'breakpoints', 'default')) {
    .main-inner {
        display: flex;
        justify-content: space-between;
    }

    .single {
        &-main {
            flex: 0 0 calc(75% - #{config('spacing', 'medium')});
            max-width: calc(75% - #{config('spacing', 'medium')});
        }
        &-sidebar {
            flex: 1 0 calc(25% - #{config('spacing', 'medium')});
            max-width: calc(25% - #{config('spacing', 'medium')});
        }
    }
}
